body {
    background-color: rgb(250, 115, 246);
 width: 100%;
 height: 100vh;
 display: flex; 
 justify-content: center;
 align-items: center;

}

.unu {
    
    width: 70%;

    


    
}

.tuvieja {
    width: 300px; 
    height: 300px;

}
