body {
background-color:  rgb(250, 115, 246);
 width: 100%;
 height: 100vh;
 display: flex; 
 justify-content: center;

}

.uwu {
    background-color: white;
    width: 50%; 
    height: 50vh;
    display: flex; 
    justify-content: center;
}

